<h3>Grade list</h3>


<table *ngIf="grades" class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Average</th>
            <th>Best grade</th>
            <th>Failing grade count</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of grades">
            <td>{{ data.name }}</td>
            <td>{{ data.gradesAvg }}</td>
            <td>{{ data.bestGrade }}</td>
            <td>{{ data.failingGradeCount }}</td>
        </tr>
    </tbody>
</table>