<h3>Create new student</h3>

<form (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label for="name" class="form-label">Name</label>
      <input type="text" id="name" name="name" [(ngModel)]="name" class="form-control">
    </div>
    <div class="mb-3">
      <label for="semester" class="form-label">Semester</label>
      <input type="number" id="semester" name="semester" [(ngModel)]="semester" class="form-control">
    </div>
    <div class="mb-3">
      <label for="birthDate" class="form-label">Birth Date</label>
      <input type="text" id="birthDate" name="birthDate" [(ngModel)]="birthDate" class="form-control">
    </div>
    <div class="mb-3">
      <label for="phoneNumber" class="form-label">Phone Number</label>
      <input type="text" id="phoneNumber" name="phoneNumber" [(ngModel)]="phoneNumber" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>