﻿
  <div class="container maindiv">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">StudentBook</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" routerLink ="/students">
                Students
             </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink ="/grades">
                Grades
             </a>
        </li>
      </ul>
    </div>
  </nav>

<router-outlet></router-outlet>


</div>