<h3>Student list</h3>

<a routerLink="/new-student">
    <button>Add new student</button>
</a>

<table *ngIf="students" class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Semester</th>
            <th>BirtDate</th>
            <th>PhoneNumber</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of students">
            <td>{{ data.name }}</td>
            <td>{{ data.semester }}</td>
            <td>{{ data.birthDate }}</td>
            <td>{{ data.phoneNumber }}</td>
        </tr>
    </tbody>
</table>
